<footer class="footer bg-dark text-white">
    <div class="container py-3">
      <div class="row align-items-center">
        <!-- Logo -->
        <div class="col-md-3 text-center text-md-start">
          <img src="../../../assets/adepro_logo2.png" alt=" Logo" height="40">
        </div>
  
        <!-- Adresse -->
        <div class="col-md-5 text-center d-flex align-items-center">
          <i class="bi bi-geo-alt-fill text-purple me-2"></i>
          <p class="mb-0 mx-auto">
            Central Canebière – 10 Rue de la République <br>
            F-13001 Marseille, France
          </p>
        </div>
  
        <!-- Liens -->
        <div class="col-md-4 text-center text-md-end">
          <ul class="list-unstyled">
            <li><a href="#" class="text-white text-decoration-none">À propos de nous</a></li>
            <li><a routerLink="/confidentialite" class="text-white text-decoration-none">Mentions légales</a></li>
          </ul>
        </div>
      </div>
    </div>
  
    <!-- Copyright -->
    <div class="footer-bottom bg-purple text-center py-2">
      Copyright © 2025 - Adepro
    </div>
  </footer>
  