<nav class="navbar navbar-expand-lg bg-mauve">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/adepro_logo2.png" alt="Home" >
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="recette/creer">Calculateur</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="recette">Mes recettes</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" routerLink="ingredients">
                Ingrédients
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Se connecter</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
