<div class="container">
    <div class="row pt-4">
        <div class="col-md-6 box">
            <p>L'application est un partenariat entre le lycée Léonard de Vinci, à Melun, et l'entreprise Adepro</p>
        </div>
        <div class="col-md-5">
            <div class="row">
                <img src="../../../assets/léonard_vinci.png" alt="logo lycée" >
            </div>
        
            <div class="row">
                <img src="../../../assets/adepro_logo.png" alt="adepro">
            </div>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-md-6">
            <h1>
                L'utilité du site ?
            </h1>
        </div>
        <div class="col-md-6 box">
            <p>
                le site permet de créer des recettes de savon à partir d'une liste d'ingrédient et de connaitre ses propriétées.
            </p>
        </div>
    </div>
    <div class="row pt-4 mx-auto text-center">
        <h1>A qui le site est-il destiné ?</h1>
        <p class="box">le site est destiné aux entreprises et au particuliers</p>
    </div>
</div>